@use 'global_87';

/*
=============== 
Navbar
===============
*/

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem ;
    background-color: var(--clr-primary-10);

    &-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;
        margin: 0 auto;
    }

    &-links {
        display: none;
    }

    &-btn {
        position: absolute;
        right: 1.5rem;
        font-size: 2rem;
        border-color: transparent;
        background-color: transparent;
        color: var(--clr-primary-5);
        cursor: pointer;
    }
}

.navbar-fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: var(--light-shadow);
    z-index: 5;
}

@media screen and (min-width: 768px) {
    .nav {
        .nav-links {
            display: flex;
            //justify-content: space-around;
            color: var(--clr-primary-5);
            gap: 1.5rem;
            position: absolute;
            right: 3rem;

            li a {
                color: var(--clr-grey-5);

                &:hover {
                    color: var(--clr-primary-5);
                    border-bottom: 2px solid rgba(133, 26, 26, 0.547);
                }
            }
        }

        .nav-btn {
            display: none;
        }
    }
}


/*
=============== 
sidebar
===============
*/

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-grey-10);
    z-index: 5;
    transition: var(--transition);
    transform: translateX(-100%);

    .close-btn {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 2rem;
        border-color: transparent;
        background-color: transparent;
        color: #bb2525;
        cursor: pointer;

        &:hover {
            color: #e66b6b;
        }
    }

    &-links {
        text-align: center;

        a {
            font-size: 2rem;
            text-transform: capitalize;
            color: var(--clr-grey-5);
            letter-spacing: var(--spacing);

            &:hover {
                color: var(--clr-primary-5);
            }
        }
    }
    
}

.show-sidebar {
    transform: translateX(0);
}

.social-icons {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    gap: 2rem;
     .fa-brands {
         color: var(--clr-grey-5);
         &:hover {
            color: var(--clr-primary-5);
          }
     }
     .fa-solid {
         color: var(--clr-grey-5);
         &:hover {
            color: var(--clr-primary-5);
          }
     }
 }

/*
=============== 
Hero
===============
*/
.hero {
    background-color: var(--clr-primary-10);

    &-center {
        min-height: calc(100vh - 4rem);
        display: grid;
        //display: grid;
        //justify-content: center;
        place-items: center;
    }

    .underline {
        margin-left: 0;
        margin-bottom: 0.5rem;
    }

    .hero-info h4 {
        color: var(--clr-grey-5);
    }

    &-icons{
        justify-content: start;
    }

    &-btn {
        margin-top: 1.25rem;
    }

    &-img {
        display: none;
    }

    &-photo {
        max-width: 25rem;
        max-height: 30rem;
        object-fit: cover;
        border-radius: var(--radius);
        position: relative;
    }
}

@media screen and (min-width: 768px) {
    .hero {

        &-center{
            grid-template-columns: 1fr 1fr;
        }

        &-img {
            display: block;
            width: 70%;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 2rem;
                right: -2rem;
                width: 100%;
                height: 100%;
                border: 0.25rem solid var(--clr-primary-5);
                border-radius: var(--radius);
            }
        }

        
    }
}

/*
=============== 
about
===============
*/

.about {
    background-color: var(--clr-white);

    &-center {
        min-height: calc(100vh - 4rem);
        display: grid;
        //display: grid;
        //justify-content: center;
        place-items: center;
    }

    .underline {
        margin-left: 0;
        margin-bottom: 0.5rem;
    }

    .about-img h4 {
        color: var(--clr-grey-5);
    }

    &-icons{
        justify-content: start;
    }

    &-btn {
        margin-top: 1.25rem;
    }

    &-img {
        display: none;
    }

    &-photo {
        max-width: 25rem;
        max-height: 30rem;
        object-fit: cover;
        border-radius: var(--radius);
        position: relative;
    }
}

@media screen and (min-width: 768px) {
    .about {

        &-center{
            grid-template-columns: 1fr 1fr;
        }

        &-img {
            display: block;
            width: 70%;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 2rem;
                right: 2rem;
                width: 100%;
                height: 100%;
                border: 0.25rem solid var(--clr-primary-5);
                border-radius: var(--radius);
            }
        }

        
    }
}