* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
/* dark shades of primary color*/
  --clr-primary-1: hsl(43, 86%, 17%);
  --clr-primary-2: hsl(43, 77%, 27%);
  --clr-primary-3: hsl(43, 72%, 37%);
  --clr-primary-4: hsl(42, 63%, 48%);
/* primary/main color */
  --clr-primary-5: hsl(42, 78%, 60%);
/* lighter shades of primary color */
  --clr-primary-6: hsl(43, 89%, 70%);
  --clr-primary-7: hsl(43, 90%, 76%);
  --clr-primary-8: hsl(45, 86%, 81%);
  --clr-primary-9: hsl(45, 90%, 88%);
  --clr-primary-10: hsl(45, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
/* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;

  /* blogs */
  --primary: #645cff;
  --primary-dark: #3c3799;
  --grey-light: #f1f5f9;
  --grey: #64748b;
  --grey-dark: #0f172a;
  --letter-spacing: 2px;
  --fluid-width: 90vw;
  --border-radius: 0.15rem;

  /* cards */
  --card-1-color: #ff69a6;
  --card-1-background: #f4c6d8;
  --card-1-border: 2px solid #ff69a6;
  --card-2-color: blue;
  --card-2-background: rgba(0,0,255,0.1);
  --card-2-border: 2px solid blue;
  --card-3-color: rgb(64,124,64);
  --card-3-background: rgba(0,255,0,0.1);
  --card-3-border: 2px solid rgb(35,70,35);
}
/*
=============== 
Global Styles
===============
*/

::after,
::before {
    margin: 0;
    padding: 0;
    ox-sizing: border-box;
}
body {
    font-family: var(--ff-secondary);
    background: var(--clr-white);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 0.875rem;
}
p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
    h1 {
    font-size: 4rem;
    }
    h2 {
    font-size: 2.5rem;
    }
    h3 {
    font-size: 1.75rem;
    }
    h4 {
    font-size: 1rem;
    }
    body {
    font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
    line-height: 1;
    }
}
/*  global classes */

.btn {
    text-transform: uppercase;
    background: var(--clr-primary-5);
    color: var(--clr-primary-1);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    font-weight: 700;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
}
.btn:hover {
    color: var(--clr-primary-1);
    background: var(--clr-primary-7);
}
/* section */
.section {
    padding: 5rem 0;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}

.section-title{
    text-align: center;
    text-transform: capitalize;
    margin: 2rem;
    letter-spacing: 2px;
}

@media screen and (min-width: 992px) {
    .section-center {
    width: 95vw;
    }
}
/* added during recording */
.underline {
    width: 5rem;
    height: 0.25rem;
    margin-bottom: 1.25rem;
    background: var(--clr-primary-5);
    margin-left: auto;
    margin-right: auto;
}

.bg-grey {
    background: var(--clr-grey-10);
}


/*
===============
Navbar
===============
*/

.navbar {
    background-color: var(--clr-primary-10);
    height: 4rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--clr-grey-3);
}

.navbar-center {
    display: flex;
    justify-content:space-around;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}

.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

}

.show-quiz1-answer {
    width: 100vw;
    height: calc(100vh - 4rem);
}

.navbar-header {
    text-transform: capitalize;
    padding: 0.5rem 1rem;
    border: transparent;
    border-radius: 0.5rem;
    letter-spacing: 2px;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--clr-white);
    z-index: 2;
    box-shadow: var(--light-shadow);
}

/*
===============
cards
===============
*/

.cards-center {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: var(--fluid-width);
    max-width: var(--max-width);
    margin: 0 auto;
    /* max-width: 500px; */
}

.card {
    background: #ffffff;
    padding: 1rem 1rem;
    text-align: center;
    /* max-width: 300px; */
    border-radius: 0.5rem;
    border: 1px solid transparent;
}

.card img {
    display: block;
    width: 100%;
    height: 12rem;
    object-fit: cover;
}

.card h2 {
    font-size: 1.5rem;
    padding-top: 1rem;
}

.card-1 {
    border-color: var(--card-1-border);
}

.card-2 {
    border-color: var(--card-2-border);
}

.card-3 {
    border-color: var(--card-3-border);
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto;
}

.card-1 .icon {
    background: #ff69a6;
}

.card-2 .icon {
    background: #68a3ff;
}

.card .btn {
    text-transform: capitalize;
    padding: 0.5rem 1rem;
    border: transparent;
    border-radius: 0.5rem;
    letter-spacing: 2px;
}

.btn-1 {
    background: var(--card-1-background);
    color: var(--card-1-border);
    border: var(--card-1-border) !important;
}

.btn-2 {
    background: var(--card-2-background);
    color: var(--card-2-border);
    border: var(--card-2-border) !important;
}

.btn-3 {
    background: var(--card-3-background);
    color: var(--card-3-border);
    border: var(--card-3-border) !important;
}

/*
===============
blogs
===============
*/

.blogs {
    padding: 5rem 0;
}

.blogs .img {
    width: 100%;
    height: 15rem;
    display: block;
    object-fit: cover;
}

.blogs-center {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    width: var(--fluid-width);
    max-width: var(--max-width);
    margin: 0 auto;
    /*max-width: 500px; */
}

@media screen and (min-width: 450px) {
    .blogs-center {
    grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .blogs-center {
    grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .blogs-center {
    grid-template-columns: repeat(4, 1fr);
    }
}

.blogs-center2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 2rem;
    width: var(--fluid-width);
    max-width: var(--max-width);
    margin: 0 auto;
    /*max-width: 500px; */
}

.blog{
    background-color: white;
    padding: 0.75rem;
    border-radius: var(--border-radius);
    margin-bottom: 2rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: 1s ease-in-out all;
}

.blog:hover{
    box-shadow: 0 5px 15px rbga(0,0,0,0.4);
}

.blog-img{
    border-radius: var(--border-radius);
    margin-bottom: 0.5rem;
}

.blog-contert {
    padding-bottom: 1rem;
}

.blog-contert span {
    text-transform: uppercase;
    color: var(--primary);
    letter-spacing: var(--letter-spacing);
    font-weight: 500;
}

.blog-contert h3 {
    text-transform: capitalize;
    letter-spacing: var(--letter-spacing);
    margin: 0.5rem 0;
}

.blog-contert p {
    color: var(--grey);
    margin-bottom: 0.5rem;
}

.blog-contert a {
    text-transform: capitalize;
    color: var(--primary-dark);
    letter-spacing: 1px;
}